In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('../data/census.csv')

In [5]:
df[df.age < 0]

Empty DataFrame
Columns: [age,  workclass,  fnlgt,  education,  education-num,  marital-status,  occupation,  relationship,  race,  sex,  capital-gain,  capital-loss,  hours-per-week,  native-country,  salary]
Index: []

In [11]:
df[' salary'].value_counts().index.tolist()

[' <=50K', ' >50K']